{% extends 'base.html' %}

{% block content %}
<div style="height:100vh">
  <main class="container">
    <div class="row pt-5">
        <div class="col-md-4 offset-md-4">
          <div class="card">
            <div class="card-header">
              <a href="/" class="btn btn-outline-primary">Página Principal</a>
            </div>
            <div class="card-body">
              <h1 class="card-title">Gracias por tu recomondación!</h1>
              <p class="card-text">Buscaremos seguir mejorando para darte la mejor presentación posible.</p>
            </div>
          </div>
        </div>
    </div>
  </main>
</div>
{% endblock %}